*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.academic-list{
    margin-left: 30px;
}
.academic-list ul{
    margin-left: 30px;
    line-height: 35px;
}
.academic-list h1{
    font-size: 45px;
}
.academic-list h2{
    font-size: 30px;
    font-weight: 550;
}

.academic-box{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.academic-box iframe{
    height: 80vh;
    width: 65vw;
}


/* .am{
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(199, 146, 146);
    position:absolute;
    top: 25%;
    left: 28%;
    /* visibility:collapse; */
} */
