*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-box{
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}


/* flip page */

.admission-box{
    height: 100vh;
    width: 100vw;
    background-color: rgb(202, 174, 174);
    display: grid;
    justify-content: center;
    align-items: center;
}
.card{
    /* border: 1px solid brown; */
    height: 500px;
    width: 500px;
    
    border-radius: 30px;
}
.card-inner{
    
    height: 500px;
    width: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.9999s;

    border-radius: 30px;
    background-color:rgb(151, 103, 103);
    
}

.card-front,.card-back{

    display: grid;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    position: absolute;
    backface-visibility: hidden;
}

/* .card-inner:hover{
    transform: rotateY(180deg);
} */

.card-back{
    transform: rotateY(180deg);
}

table{
    height: 400px;
    width: 400px;
    padding: 30px;
    color: black;
    font-size: 30px;
}
/* label{
    width: 500px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px 2px rgb(13, 250, 230);
} */
input{
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px 3px rgb(13, 250, 230); */
    border: none;
    font-size: 25px;
    height: 40px;
    width: 200px;
    background-color: rgb(151, 103, 103);
    outline: none;
    border-bottom: 2px solid black;
}
/* input:focus{ */
    /* box-shadow: 0 0 10px 5px rgb(13, 250, 230); */
/* } */
button{
    
    background-color: rgb(151, 103, 103);
    box-shadow: inset 0 0 10px 2px rgb(202, 174, 174);
    border: 2px solid rgb(202, 174, 174);
    height: 50px;
    width: 100px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    box-shadow: 0 0 10px 2px rgb(202, 174, 174);
}
td{
    padding: 5px;
}
h3{
    cursor:default;
    /* box-shadow: inset 0 0 10px 5px rgb(13, 250, 230); */
    text-align: center;
}
p{
    padding: 5px;
    color:rgb(202, 174, 174);
    position: absolute;
    bottom: 40px;
    right: 80px;
    font-size: 25px;
}
p:hover{
    color: rgb(1, 1, 95);
    transform: scale(1.1);
    cursor: pointer;
    
}
