*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(202, 174, 174);
}

.header{
    
    position:fixed;
    top: 0;
}
.home-photo{
    /* border: 5px solid rgb(196, 139, 139); */
    background-image: url(./assets/home.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30px;
    margin-top: 47px;
    height: 65vh;
    width: 45vw;
    animation: photo 15s infinite;
    animation-direction: alternate;
}

@keyframes photo {
    0%{background-image: url(./assets/home.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;}
    15%{background-image: url(./assets/img10.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;}
    30%{background-image: url(./assets/img12.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;}
    45%{background-image: url(./assets/img15.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;}
    60%{background-image: url(./assets/img2.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;}
    75%{background-image: url(./assets/img3.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;}
    90%{background-image: url(./assets/img4.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;}
    55%{background-image: url(./assets/img5.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;}
    0%{background-image: url(./assets/home.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;}
}
/* .home-img{
    border: 5px solid rgb(196, 139, 139);

    margin: 3px;
    height: 70vh;
    width: 50vw;
} */


.logo{
    /* display: flex; */
    /* justify-content: space-between; */
    /* height: 70px; */
    width: 100vw;
    font-size: 30px;
    /* border: 1px solid brown; */
    text-align: center;
    padding: 10px;
    background-color:rgb(151, 103, 103);
}
.logo img{
    border-radius: 10%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10%;
}




.navbar {
    background-color: rgb(151, 103, 103);
    height: 50px;
    width: 100vw;
    font-size: 25px;
    border: 1px solid brown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:rgb(149, 4, 4);
    border-bottom: 1px solid rgb(149, 4, 4);
    
}
.main-box{
    margin-top: 125px;
}

.part1{
    display: flex;
}
.text{
    margin: 10px;
    padding: 3px;
    border: 3px solid rgb(126, 122, 122);
    height: 65vh;
    width: 45vw;
    overflow: auto;
    
}
 .part1 h2{
    font-size: 31px;
    text-align: center;
    text-decoration: underline;
}

.part1 p{
    font-size: 20px;
    margin: 10px;
}

.links{
    width: 95vw;
    overflow:auto;
    margin: 20px;
    display: flex;
    
    list-style: none;
    
}

.part2 li{
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgb(196, 139, 139);
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}
.part2 li:hover{

    transform: scale(1.1);
}

.about{
    /* border: 1px solid brown; */
    margin: 20px;
}
.about ul{
    margin-left: 30px;
}
.about h1{
    margin: 10px 10px 10px 0;
    font-size: 35px;
}
.about p,ul{
  font-size: 25px;
}



/* footer style */
.foot{
    /* display: grid; */
    background-color: rgb(151, 103, 103);
    height: 250px;
    width: 100vw;
}
.foot-box{
    position: relative;
    top: 10%;
    left: 25%;
}
.foot-box ul{
    margin-left: 20px;
}